h1, h2, h3 {
font-stretch:absolute;
position:absolute;
top:70px;
left:80px;
color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.button2{width:250px;
height:50px;
left:520px;
top:566px;
background:orange;
position:absolute;
color:white;
font-size:20px;
border-radius:15px/15px;
cursor:pointer;
outline:none;
}

.button{width:250px;
height:60px;
left:520px;
top:380px;
background:green;
position:absolute;
color:white;
font-size:20px;
border-radius:15px/15px;
cursor:pointer;
outline:none;
}






